/* BODY ----------------------- */

body {
    background-color: antiquewhite;
    font-family: 'Arial', sans-serif;
    margin: 30px;
    color: black;
}


/* NAVIGATION BAR ----------------------- */

#logo {
    width: 70px;
    border-radius: 50%;
    float: left;
    position: relative;
    display: inline;
    float: left;
    margin-right: 20px;
}

nav {
    position: fixed;
    min-height: 0;
    display: inline;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("./1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #99BC85; */
    padding: 40px 10px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    float: right;
    line-height: 3;
}

nav a:link {
    color:  #E1F0DA;
    font-weight: bold;
    /* background-color: #D4E7C5; */
    text-decoration: none;
    padding: 10px 5px 10px 5px;
}

nav a:hover {
    color:#FCFFCC ;
    /* background-color: #769365; */
    font-weight: bold;
    /* padding: 10px 15px 10px 15px; */
}

a:visited {
    color: darkolivegreen;
}


nav ul {
  margin-top:10px;
    float: right;
    padding-right: 20px;
    position:relative;
    top:10%;
}

nav ul li {
  position:relative;
  top:10%;
    display: inline-block;
    padding-right: 10px;
    font-size: 18px;
    text-align: center;}


/* MAIN PART OF WEBSITE ----------------------- */

    main {
        min-height: 100vh; /* Ensure content fills at least the height of the viewport */
    padding-bottom: 50px; /* Adjust this value to match the height of your footer */
        margin-top: 100px;
        margin-bottom: 90px;
        margin-left: 30px;
        padding-top: 150px;
        z-index: 1;
    }

#sitename{
  padding:60px 20px 40px;
  color:#D4E7C5;
  margin-top: 20px;
  font-size: 60px;
  display:block;
}

    h1 {
        padding: 20px 20px 20px 20px;
        height: 2px;
        text-align: center;
        font-style: italic;
        color: black;
    }

    h2 {
        color: black;
        text-align: left;
    }


/* FOOTER ----------------------- */

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #D4E7C5;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }
