/* BODY --------------------------------------------------------------------------------- */

body {
    background-color: antiquewhite;
    font-family: 'Arial', sans-serif;
    margin: 30px;
    margin-bottom: 0;
    color: black;
}

/* NAVIGATION BAR ----------------------------------------------------------------------- */

#logo {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 25px;
    position: relative;
    display: inline;
}

nav {
    position: fixed;
    min-height: 0;
    display: inline;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("student2_pictures/page_design_pictures/nav_background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    float: right;
    transition: padding 0.3s ease;
}

#sitename {
    color: #D4E7C5;
    font-size: 60px;
    padding: 40px;
    display: block;
    transition: padding 0.3s ease;
}

nav a:link,
nav a:visited {
    color: #E1F0DA;
    font-weight: bold;
    background-color: #6e9274;
    text-decoration: none;
    padding: 10px 7px 10px;
}

nav a:hover {
    color: #FCFFCC;
    background-color: #AFC8AD;
    font-weight: bold;
}

.active {
    color: #FCFFCC;
    border-bottom: 3px solid #FCFFCC;
    border-bottom-color: #FCFFCC;
    text-decoration: underline;
}

nav ul {
    margin-top: 10px;
    display: flex;
    float: right;
    justify-content: space-evenly;
    padding-right: 40px;
}

nav ul li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

nav ul li:first-child a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

nav ul li:last-child a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
}

/* MAIN PART OF WEBSITE ----------------------------------------------------------------- */

main {
    min-height: 100vh;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 150px;
    z-index: 1;
    text-align: justify;
}

h1 {
    padding: 20px 20px 20px;
    height: 2px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    color: black;
}

h2 {
    color: black;
    text-align: left;
    margin-top: 50px;
}

/* CONTENT PAGES ON HOME -----------------------------------------------------------------*/

.content_container {
    width: 100%;
    overflow-x: auto;
    white-space: wrap;
}

.content_container ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.content_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.content_item {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    transition: opacity 0.5s ease;
}

.content_item img {
    width: 400px;
    height: 250px;
}

.content_middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    transition: opacity 0.5s ease;
}

.content_container ul li:hover .content_item {
    opacity: 0.7;
}

.content_container ul li:hover .content_middle {
    opacity: 1;
}

.content_text {
    color: white;
    font-size: 16px;
    width: 350px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: bold;
    font-size: 18px;
    text-shadow:
        -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/* ------------------------------------------------------------------------------------------------*/

#left_side img {
    float: left;
    margin-right: 20px;
    max-width: 20%;
    height: auto;
}

#right_side img {
    float: right;
    margin-left: 20px;
    max-width: 30%;
    height: auto;
}

#left_side_wider img{
    float: left;
    margin-right: 20px;
    max-width: 30%;
    height: auto;
}

#justified_text {
    text-align: justify;
}

#profile_pic img{
    float: right;
    margin-left: 20px;
    max-width: 40%;
    height: auto;
}

/* CONTENT PAGE STUDENT 2  -------------------------------------------------------------------------------*/
.sidenav {
    margin-top: 200px;
    height: 200px;
    width: 160px;
    position: fixed;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 2;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #2E2E2E;
    display: block;
}

.sidenav a:hover {
    color: #050505;
}

.content_st2 {
    margin-top: 100px;
    margin-right: 50px;
    padding-top: 150px;
    margin-left: 180px;
}

/* FEEDBACK FORM ------------------------------------------------------------------------------------------*/

#displayInfo p{
    padding: 5px;
}

#feedbackConfirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none; /* Initially hidden */
}

#feedbackConfirmation h2 {
    color: #37532c;
}

.feedback_title {
    font-weight: bold;
    font-size: 18px;
}

#satisfactionScale label {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;
}

#satisfactionScale input[type="radio"] {
    margin-top: 4px;
}

textarea {
    display: inline-block;
    border-radius: 5px;
    background-color: #E1F0DA;
    width: 250px;
    height: 65px;
    border: none;
}

fieldset {
    border: none;
}

#name,
#email {
    background-color: #E1F0DA;
    border-radius: 5px;
    border: none;
}

#feedback_form {
    align-items: center;
    text-align: center;
    position: relative;
    width: 80%;
    background-color: #AFC8AD;
    border-radius: 15px;
    box-shadow: 0 0 10px #3c5a3b;
    max-width: 600px;
    margin: 20px auto;
}

#feedback_form h3{
    color:red;
    text-align: center;
}

.separator {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.rounded-button {
    padding: 10px 20px;
    background-color: #88AB8E;
    color: #E1F0DA;
    border: solid 1px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-bottom: 2px;
    font-weight: bold;
    margin-right: 46%;

}
#displayInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none; /* Initially hidden */
}

.hidden {
    display: none;
  }

.editButton, .submitButton {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons{
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.editButton {
    background-color: rgb(228, 193, 118);
}

.editButton:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.05);
    background-color: rgb(216, 179, 78);
}

.submitButton, #submit {
    background-color: #7ae176;

}

.submitButton:hover, #submit:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.05);
    background-color: #6bc568;
}

#reset {
    background-color: #f49393;
}

#reset:hover {
    cursor: pointer;
    background-color: #e06969;
    transition: transform .3s ease-in-out;
    transform: scale(1.05);
}

/* PAGE EDITOR STUDENT 2 ------------------------------------------------------------------------ */

.page_editor_links a:link,
.page_editor_links a:visited {
    color: #42664f;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 7px 10px;
}

.page_editor_links a:hover {
    color: #87b28e;
    font-weight: bold;
}

/* FOOTER -------------------------------------------------------------------------------------- */

 html, body { /* for footer not having margin */
    margin: 0;
    padding: 0;
}

footer #logo{
    margin-right: 10px;
}

footer {
    bottom: 0;
    left: 0;
    background-color: #D4E7C5;
    width: 100%;
    display:flex;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 20px 10px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

footer a:link,
footer a:visited {
    color: #6e9274;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

footer a:hover {
    color: #FCFFCC;
    background-color: #AFC8AD;
    padding: 3px 5px;
    border-radius: 5px;
}