body {
    background-image: url('styles_ST4/pictures_ST4/bckgr.png');
    background-attachment: fixed;
    background-size: cover;
}

.page1 {
    margin-top: 230px;
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
}
.h2{
    padding: 15px;
}
.text1{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.text2{
    padding: 5px;
    margin: 30px;
    background-color: #6e9274;
}
.text3{
    padding: 5px;
    margin: 30px;
    background-color: #6e9274;
}
.text4{
    padding: 5px;
    margin: 30px;
    background-color: #6e9274;
}
.text5{
    padding: 5px;
    margin: 30px;
    background-color: #6e9274;
}
.heading {
    color: #000000;
    font-size: 32px;
    text-align: center;
    padding: 10px;}
.page2 {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
}
.pagetext2{
    display: flex;
    margin: 40px;
    align-items: center;
}
.h3{
    padding-top: 15px;
}
.page3 {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
}
.pagetext3{
    display: flex;
    margin: 40px;
    align-items: center;
}
.h4{
    padding-top: 15px;
}
.page4 {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
}
.pagetext4{
    display: flex;
    margin: 40px;
    align-items: center;
}
.h5{
    padding-top: 15px;
}
.page5 {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
}
.pagetext5{
    display: flex;
    margin: 40px;
    align-items: center;
}
.h6{
    padding-top: 15px;
}
.footer{
    margin-top: 20px;
}
#logo {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 25px;
    position: relative;
    display: inline;
}
nav {
    position: absolute;
    min-height: 0;
    display: inline;
    top: 0;
    left: 0;
    width: 100%;
    /* background-image: url("./nav_background.png"); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    float: right;
    transition: padding 0.3s ease;
}

#sitename {
    color: #D4E7C5;
    font-size: 60px;
    padding: 40px;
    display: block;
    transition: padding 0.3s ease;
}

nav a:link,
nav a:visited {
    color: #E1F0DA;
    font-weight: bold;
    background-color: #6e9274;
    text-decoration: none;
    padding: 10px 7px 10px;
}

nav a:hover {
    color: #FCFFCC;
    background-color: #AFC8AD;
    font-weight: bold;
}

.active {
    color: #FCFFCC;
    border-bottom: 3px solid #FCFFCC;
    border-bottom-color: #FCFFCC;
    text-decoration: underline;
}

nav ul {
    margin-top: 10px;
    display: flex;
    float: right;
    justify-content: space-evenly;
    padding-right: 40px;
}

nav ul li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

nav ul li:first-child a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

nav ul li:last-child a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
}
